@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lato-v23-latin-regular.woff2") format("woff2"),
    url("../fonts/lato-v23-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/lato-v23-latin-700.woff2") format("woff2"),
    url("../fonts/lato-v23-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/lato-v23-latin-900.woff2") format("woff2"),
    url("../fonts/lato-v23-latin-900.woff") format("woff");
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #102746;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

/* header start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__list-item:not(:last-child) {
  margin-right: 82px;
}
.header__list-link {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
.header__list-link:hover,
.header__list-link:focus,
.header__list-link:active {
  opacity: 0.6;
}

/* header end */

/* intro start */

.intro {
  min-height: 100vh;
  padding-top: 263px;
  background: url("../img/intro/intro-bg.jpg") no-repeat center;
  background-size: cover;
}
.intro__title {
  max-width: 619px;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
}
.intro__subtitle {
  max-width: 546px;
  margin-bottom: 60px;
  font-size: 16px;
  color: #fff;
}
.form-search__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.form-search__field {
  width: 297px;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 700;
  background: transparent url("../img/svg/circle.svg") no-repeat left 6px;
  background-size: 20px;
  border: none;
  border-bottom: 2px solid #bfc0c5;
  color: #fff;
}
.form-search__field::placeholder {
  font-weight: 700;
  color: #fff;
}
.form-search__btn {
  padding: 15px 39px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  border: none;
  background: #1b7dff;
  color: #fff;
  transition: all 0.3s ease;
}
.form-search__btn:hover,
.form-search__btn:focus,
.form-search__btn:active {
  background: #0e448d;
  color: #7a7a7a;
}
/* intro end */
