@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lato-v23-latin-regular.woff2") format("woff2"),
    url("../fonts/lato-v23-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/lato-v23-latin-700.woff2") format("woff2"),
    url("../fonts/lato-v23-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/lato-v23-latin-900.woff2") format("woff2"),
    url("../fonts/lato-v23-latin-900.woff") format("woff");
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #102746;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}
.container_wide {
  max-width: 1262px;
  margin: 0 auto;
}

.link {
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  text-decoration: none;
  background: url(../img/svg/arrow-ico.svg) no-repeat 97% center;
  color: #006dfe;
  transition: all 0.3s ease;
}
.link:hover,
.link:focus {
  background: url(../img/svg/arrow-ico.svg) no-repeat right center;
}

.section-title {
  position: relative;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 253px;
  height: 3px;
  background-color: #006dfe;
}
/* header start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__list-item:not(:last-child) {
  margin-right: 82px;
}
.header__list-link {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
.header__list-link:hover,
.header__list-link:focus,
.header__list-link:active {
  opacity: 0.6;
}

/* header end */

/* intro start */

.intro {
  min-height: 100vh;
  padding-top: 263px;
  padding-bottom: 372px;
  background: url("../img/intro/intro-bg.jpg") no-repeat center;
  background-size: cover;
}
.intro__title {
  max-width: 619px;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
}
.intro__subtitle {
  max-width: 546px;
  margin-bottom: 60px;
  font-size: 16px;
  color: #fff;
}
.form-search__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.form-search__field {
  width: 297px;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 700;
  background: transparent url("../img/svg/circle.svg") no-repeat left 6px;
  background-size: 20px;
  border: none;
  border-bottom: 2px solid #bfc0c5;
  color: #fff;
}
.form-search__field::placeholder {
  font-weight: 700;
  color: #fff;
}
.form-search__btn {
  padding: 15px 39px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  border: none;
  background: #1b7dff;
  color: #fff;
  transition: all 0.3s ease;
}
.form-search__btn:hover,
.form-search__btn:focus,
.form-search__btn:active {
  background: #0e448d;
  color: #7a7a7a;
}

/* intro end */

/* benefits start */

.benefits {
  margin-bottom: 131px;
}
.benefits__container {
  position: relative;
  max-width: 1262px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}
.benefits__title {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  width: 100%;
  padding: 93px 100px 88px 100px;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  background-color: #fff;
}
.benefits__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
  padding: 0 100px;
}
.benefits__card {
  grid-column: span 1;
  margin-bottom: 112px;
}
.benefits__card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}
.benefits__card-title {
  margin-bottom: 26px;
  font-weight: 700;
  color: #000;
}
.benefits__card-text {
  margin-bottom: 39px;
  font-size: 16px;
  color: #000;
}

/* benefits end */

/* places start */
.places {
  margin-bottom: 131px;
}
.places__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
.places__title {
  margin-right: 10px;
}
.places__grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
}
.places__card {
  position: relative;
  overflow: hidden;
}
.places__card:hover .places__card-pic {
  transform: scale(1.05);
}
.places__card::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background: rgba(21, 24, 36, 0.4);
}
.places__card_large {
  grid-column: span 3;
  height: 354px;
}
.places__card-pic {
  object-fit: cover;
  transition: all 0.2s ease-in;
}
.places__card_large .places__card-pic {
  height: 354px;
}
.places__card-desc {
  position: absolute;
  left: 39px;
  bottom: 27px;
  z-index: 3;
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
}
.places__card_small {
  grid-column: span 2;
}
.places__card_large .places__card_small {
  height: 283px;
}
/* places end */

.tours {
  margin-bottom: 139px;
}
.tour__grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 108px;
}
.tour:not(:last-child) {
  margin-bottom: 77px;
}
.tour_left .tour__info {
  padding-right: 47px;
}
.tour_right .tour__pic {
  order: 2;
}
.tour_right .tour__info {
  padding-left: 47px;
}
.tour__pic {
  overflow: hidden;
}
.tour__pic:hover .tour__thumb {
  transform: scale(1.05);
}
.tour__thumb {
  transition: all 0.2s ease-in;
}
.tour__title {
  max-width: 358px;
  margin-bottom: 85px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}
.tour__text {
  max-width: 519px;
  margin-bottom: 58px;
  font-size: 16px;
}
